
.registerButton {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #7b42f6, #3f9fff);
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.registerButton:hover {
  opacity: 0.9;
}
